@import "../../../colors.scss";

.diagram {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .controls{
    padding: 20px;
    display: flex;
    justify-content: end;

    svg {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .diagram-svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    overflow: auto;

    svg {
      height: 100%;
      color: $primary-accent;
    }
  }
}
